* {
    margin: 0;
    padding: 0;
}

#titulo {
    margin-top: 1%;
    margin-bottom: 1%;
}

.check {
    display: inline-block;
}

fieldset {
    border: 0;
}

body {
    background-color: #F0F8FF;
    margin-left: 27%;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;
    line-height: 1.5;
    font-size: 1em;
    background-image: url(fundo.jpeg);
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 2px black;
    
}

input,
select,
textarea,
button {
    border-radius: 2px;
    box-shadow: 1px 1px black;
}

.campo label {
    margin-bottom: 0.2em;
    display: inline-block;
}

input,
select,
textarea,
button {
    border-radius: 3px;
}
fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}
.campo{
    font-size: 1.2em;
}
button{
    width: 10em;  height: 2em;
}
input{
    display: block;
}